<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block tittle %}
    <title>Document</title>
    {% endblock tittle %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/page.css' %}">
</head>
<body class="anabg">
    <div style="display: block;"> 

        <div id="ust_menu" style="margin:auto 0;">  

                <ul class="nav justify-content-end"> 

                    <li class="nav-item small">  
                        <a href="#"> 
                            <span class="icon"><i class="fas fa-sign-in-alt"></i> </span>
                            <span class="tittle">Sign in</span>
                        </a>
                    </li>

                    <li class="nav-item small">  
                        <a href="#"> 
                            <span class="icon"><i class="fas fa-user-plus"></i> </span>
                            <span class="tittle">Sign up</span>
                        </a>
                    </li>

                    <li class="nav-item small">  
                        <a href="#"> 
                            <span class="icon"><i class="fas fa-shopping-cart"></i> </span>
                            <span class="tittle">0</span>
                        </a>
                    </li>

                </ul>

        </div>
       
        <div> 
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><img src="{% static 'images/acme-logo.png' %}" alt=""></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'Anasayfa' %}">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'Acmestore' %}">Mağaza</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#" >Kampanyalar</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Ürünlerde ara" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Getir</button>
                    </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>
   
        {% block content  %}
        
        
        {% endblock content  %}

    <script src="{% static 'js/jquery.js' %}" > </script>
    <script src="{% static 'js/bootstrap.js' %}"> </script>
    <script src="{% static 'js/cart.js' %}" > </script> 
    <script src="{% static 'js/all.js' %}" > </script>

</body>
</html>